In [1]:
# hackathon project!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import requests
import bs4

In [2]:
urls = {}
urls['reading'] = "http://www2.ed.gov/about/inits/ed/edfacts/data-files/math-achievement-sch-sy2014-15.csv"
read_df = pd.read_csv(urls['reading'])

/usr/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (15,19,21,23,27,29,35,37,39,45,47,49,51,53,65,67,79,81,83,85,91,95,107,109,111,113,115,119,123,125,131,133,135,137,139,141,143,145,147,149,151,153,157,159,175,177,179,181,183,187,191,197,199,205,209,213,217,219,221,223,225,227) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
read_df.columns

Index([u'STNAM', u'FIPST', u'LEAID', u'LEANM', u'NCESSCH', u'SCHNAM',
       u'DATE_CUR', u'ALL_MTH00NUMVALID_1415', u'ALL_MTH00PCTPROF_1415',
       u'MAM_MTH00NUMVALID_1415',
       ...
       u'MIG_MTH05NUMVALID_1415', u'MIG_MTH05PCTPROF_1415',
       u'MIG_MTH06NUMVALID_1415', u'MIG_MTH06PCTPROF_1415',
       u'MIG_MTH07NUMVALID_1415', u'MIG_MTH07PCTPROF_1415',
       u'MIG_MTH08NUMVALID_1415', u'MIG_MTH08PCTPROF_1415',
       u'MIG_MTHHSNUMVALID_1415', u'MIG_MTHHSPCTPROF_1415'],
      dtype='object', length=231)

In [18]:
read_df['normal_ids'] = read_df['NCESSCH'].astype(str)

In [4]:
def appendFront(id):
    if len(id) == 11:
        return "0" + id
    else:
        return id

In [7]:
id2 = ids.map(appendFront)

In [12]:
id2.describe()

count            88821
unique           88821
top       220048000322
freq                 1
Name: NCESSCH, dtype: object

In [10]:
id2.map(len).describe()

count    88821.0
mean        12.0
std          0.0
min         12.0
25%         12.0
50%         12.0
75%         12.0
max         12.0
Name: NCESSCH, dtype: float64

In [15]:
id2['names'] = read_df['SCHNAM']

In [22]:
#export cols
exportCols = ['STNAM', 'SCHNAM', 'normal_ids' ]

In [23]:
export = read_df[exportCols]
export.head()

     STNAM                        SCHNAM   normal_ids
0  ALABAMA         Ala Avenue Middle Sch  10000500870
1  ALABAMA          Albertville High Sch  10000500871
2  ALABAMA                Evans Elem Sch  10000500879
3  ALABAMA          Albertville Elem Sch  10000500889
4  ALABAMA  Kate Duncan Smith DAR Middle  10000600193

In [24]:
export.to_csv('yhack16/cache/ids_full.csv.gz', compression='gzip')

In [11]:
id2.to_json('school_ids.csv')